<%- include ('../partials/header.ejs') %>
<%- include ('../partials/messages.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

        <main id = "main">
        <link rel="stylesheet" href="../../../content/database.css"/>
            <div class="jumbotron jumbotron-fluid w-100" >
                <div class="ms-5"> 
                    <% if(typeof displayName=='string' && displayName) { %>
                        <h1 id = "welcomeStyle">Welcome <%= displayName %>
                        </h1>
                        <br>
                        <% } else { %>

                            <h1 class = "title" id = "titleStyle">
                                <%= title %>
                            </h1>

                        <% } %>

                    <% if(typeof displayName=='string' && displayName) { %>
                        <a href="/games/create" class="btn btn-primary" role="button">
                            <i class="fas fa-plus-circle"></i> Add a Game! </a>
                        <% } %>

                </div>

                <!--- Add a Game button -->
                <div class="jumbotron jumbotron-fluid w-100 ms-5">
                    <div class="row">
                        <!-- row 1 -->
                        <div class="col-md-offset-3 col-md-15">

                            <br>

                            <table class="table table-bordered table-striped table-hover" id = "tableStyle">
                                <!--- Table -->
                                <tr>
                                    <th class="text-center col-3 text-white">Your Name</th>
                                    <!--- Username column -->
                                    <th class="text-center col-4 text-white">Game Title</th>
                                    <!--- Game Title column -->
                                    <th class="text-center col-2 text-white">Genre</th>
                                    <!--- Genre column -->
                                    <th class="text-center col-4 text-white">Description</th>
                                    <!--- Description column -->
                                    <th class="text-center col-2 text-white">Rating</th>
                                    <!--- Rating column -->

                                    <% if(typeof displayName=='string' && displayName) { %>
                                        <th class="text-center col-1 text-white"></th>
                                        <!--- Delete column -->
                                        <th class="text-center col-1 text-white"></th>
                                        <% } %>

                                </tr>
                                <!--Repeat the template-->
                                <% for(let count=0; count<entryRead.length; count++) { %>
                                    <!--- Loop through the array -->
                                    <tr>
                                        <td class="text-center col-3 text-white">
                                            <%= entryRead[count].username%>
                                        </td>
                                        <!--- Username column -->
                                        <td class="text-center col-4 text-white">
                                            <%= entryRead[count].gameTitle%>
                                        </td>
                                        <!--- Game Title column -->
                                        <td class="text-center col-2 text-white">
                                            <%= entryRead[count].genre%>
                                        </td>
                                        <!--- Genre column -->
                                        <td class="text-center col-4 text-white">
                                            <%= entryRead[count].desc%>
                                        </td>
                                        <!--- Description column -->
                                        <td class="text-center col-2 text-white">
                                            <%= entryRead[count].rating%>
                                        </td>
                                        <!--- Rating column -->

                                        <% if(typeof displayName=='string' && displayName) { %>
                                            <td class="text-center col-1 text-white">


                                                <!-- Edit button -->
                                                <a href="/games/update/<%= entryRead[count]._id %>"
                                                    class="btn btn-primary">
                                                    <i class="fas fa-pencil-alt"></i> Edit </a>
                                            </td>
                                            <!-- Delete button -->
                                            <td class="text-center col-1">
                                                <a href="/games/delete/<%= entryRead[count]._id %>"
                                                    class="btn btn-danger">
                                                    <i class="fas fa-trash-alt"></i> Delete </a>
                                                <% } %>



                                            </td>
                                    </tr>
                                    <% } %>
                            </table>

                        </div>
                    </div>
                </div>
       
        <%- include ('../partials/footer.ejs') %>

         </main>